.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    font-size: 20px;
    padding-left: 18px;
}
.deletebtn {
    padding-left: 4px;
    margin-left: 60px;
    position: relative;
    right: 43px;
  }
    
